################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CRM/bin/Release/net8.0/CRM.API.dll
